.form-group {
    margin-bottom: 20px;
  }
  .control-label {
    display: block;
  }

.autocomplete-wrapper {
    position: relative;
    
    input {
      width: 100%;
    }
  }
  .autocomplete-results {
    color: black;
    position: absolute;
    background: white;
    z-index: 1;
    top: 100%;
    left: 0;
    font-size: 13px;
    border: solid 1px #ddd;
    border-top-width: 0;
    border-bottom-color: #ccc;
    box-shadow: 
      0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .autocomplete-result {
    color: black;
    padding: 12px 15px;
    border-bottom: solid 1px #eee;
    cursor: pointer;
  }
  
  .autocomplete-result:last-child {
    color: black;
    border-bottom-width: 0;
  }
  
  .autocomplete-location {
    color: black;
    opacity: .8;
    font-size: smaller;
  }
  
  $iPlus: 0;
  @for $i from 0 through 7 {
    $iPlus: $i + 1;
    .autocomplete-results[data-highlight='#{$i}'] > :nth-child(#{$iPlus}) {
      color: white;
      background: #26C9FF;
      border-bottom-color: #26C9FF;
      outline: solid 1px darken(#26C9FF, 10%);
    }
  }