.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover {
  color: lightblue;
  background: rgb(0,89, 255, .1);
}
.navbar-inverse .mavbar-nav li a {
  color: grey;
}
.navbar-brand img{
    max-width: 50px;
  }

body {
    background:url("../images/aircraft-airplane-aviation-333525-b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: auto;
    margin:0px;
    padding:0px;
}
#flight-options{
    color:whitesmoke;
    text-align: center;
    /* font-family: 'Alfa Slab One', cursive; */
    border:goldenrod;

    border-radius: 5px;
}
.maincontainer {
    background-color:rgb(255, 204, 64, .7);
    border-radius: 40px;
}

.card{
    color:black;
    background:rgb(255, 204, 64, .3);
    border-radius: 5px;
    padding: 5px;
}
footer{
    color: white;
    text-align: center;
}
h1 {
    color:whitesmoke;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;

}


#flight-results,
#event-results {
    background-color:rgb(177, 175, 172);
    color: black;

}
#event-question {
    /* color:whitesmoke; */
    /* font-family: 'Alfa Slab One', cursive; */
}

button {
    float: right
}

#event-display {
    background-color: whitesmoke;
    color: black;
}

.select-flight:active{
    background-color: blue;
}

.select-event:active{
    background-color: blue;

}

h3 {
    color: white;
}

.card-header {
    color: white;
}