/* body{
    background:url("../images/back2.jpg");
    );
    background-repeat: no-repeat;
    background-size: cover;
} */
button{
    float:right
}


/* h1 {
    color:whitesmoke;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
} */
